<form method="post" action="/login" class="form" autocomplete="off">
    <h1>Login</h1>
    <div class="input-control">
        <input type="text" name="username" class="input-contains-icon" placeholder="Username"/><span class="icon"><i class="fa fa-user small"></i></span>
    </div>
    <div class="input-control">
        <input type="password" name="password" class="input-contains-icon" placeholder="Password"/><span class="icon"><i class="fa fa-lock small"></i></span>
    </div>
    <button type="submit" class="animated btn-success center">Log In</button>
</form>
